@import "nav";
@import "blog";
@import "library";
@import "variables";

// DEFAULTS
body {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: $defaultForegroundColor;

  a {
    color: $themeColor;
  }

  a:hover, a:visited {
    color: darken($themeColor, 10);
    text-decoration: none;
    cursor: pointer;
  }
  a:focus {
    outline: none;
  }

  p {
    line-height: 1.6;
    font-size: 16pt;
    font-weight: 300;
    margin-bottom: 25px;
  }
}

.header, .main {
  display: none;
}

.header.showing, .main.showing {
  display: flex;
}

#splashScreen {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $themeColor;

  #splashScreenText {
    text-align: center;
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    color: white;
    font-size: 48px;
    font-weight: 300;
    line-height: 100vh;
  }
}

#splashScreen.hiding {
  animation:splashscreen 2s 1;
  -webkit-animation:splashscreen 2s 1;
  animation-fill-mode: forwards;

  animation-delay:2s;
  -webkit-animation-delay:.5s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}

@keyframes splashscreen{
  from {opacity :1;}
  to {opacity :0;}
}

@-webkit-keyframes splashscreen{
  from {opacity :1;}
  to {opacity :0;}
}
@-moz-keyframes splashscreen {
  from {opacity :1;}
  to {opacity :0;}
}

// MAIN CONTENT
.ui-view-container {
  // LOADER
  .fullscreen-loader {
    width: 500px;
    margin: 15px auto;
    h4 {
      font-weight: 300;
      color: $defaultForegroundColor;
    }
  }

  .page {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px 10px;
  }
  .admin-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px 10px;
  }

  .search {
    max-width: 250px;
    .fa-search {
      position: relative;
      top: 45px;
      left: 230px;
      color: gray;
    }
  }

  .view-toggle {
    user-select: none;
    margin-left: 25px;
  }
}

@media(max-width: 400px) {
  .ui-view-container {
    // LOADER
    .fullscreen-loader {
      width: 300px;
      h4 {
        font-size: 14px;
      }
    }

    .page {
      padding: 10px;
    }
  }
}
