@import "library";
@import "variables";

// DEFAULTS
body {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: $defaultForegroundColor;

  a {
    color: $themeColor;
  }

  a:hover, a:visited {
    color: darken($themeColor, 10);
    text-decoration: none;
    cursor: pointer;
  }
  a:focus {
    outline: none;
  }

  p {
    line-height: 1.6;
    font-size: 16pt;
    font-weight: 300;
    margin-bottom: 25px;
  }
}

// SIDE NAV
$navForegroundColor: #fefefe;
md-sidenav {
  header.nav-header {
    background: $themeColor;
    padding: 15px 10px;

    a {
      text-decoration: none;

      img {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin: 25px auto 20px;
      }

      h1 {
        text-align: center;
        font-size: 30px;
        color: $navForegroundColor;
      }
    }

    .social-links {
      margin: 20px 10px 5px 10px;

      span {
        text-align: center;

        a {
          color: $navForegroundColor;
        }
      }
    }
  }

  md-list {
    md-list-item {
      p {
        color: lighten($defaultForegroundColor, 20);
        font-size: 18px;
        font-weight: normal;
      }
    }
  }
}

// MOBILE NAV
md-toolbar.mobile-header {
  .md-toolbar-tools {
    h2 {
      color: $navForegroundColor !important;
      font-size: 30px;
    }
  }
}

// MAIN CONTENT
.ui-view-container {
  // LOADER
  .fullscreen-loader {
    width: 500px;
    margin: 15px auto;
    h4 {
      font-weight: 300;
      color: $defaultForegroundColor;
    }
  }

  .page {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px 10px;
  }
  .admin-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px 10px;
  }

  // BLOG POST
  .blog-post {
    border-top: solid 1px lighten($defaultForegroundColor, 70);
    padding: 25px 35px;
    margin-bottom: 50px;

    h1, h2, h3, h4, h5, h6 {
      font-weight: 300;
    }

    .blog-post-header {
      text-align: center;
      margin: 5px 0px 25px;

      a {
        font-weight: 700;
        font-size: 30px;
        text-transform: capitalize;
        line-height: 50px;
      }

      .blog-post-subtitle {
        margin-top: 15px;
        color: lighten($defaultForegroundColor, 20);
        font-size: 18px;
        font-style: italic;

        span {
          color: lighten($defaultForegroundColor, 40);
          margin: 5px 10px;
          font-style: normal;
          display: block;
        }
      }
    }

    .blog-post-body {
      pre {
        background-color: #565656;
        color: #fefefe;
      }
    }

    .social-links {
      a {
        font-size: 15px;
        margin: 5px 15px 20px 0;
      }
    }
  }
}

@media(max-width: 400px) {
  .ui-view-container {
    // LOADER
    .fullscreen-loader {
      width: 300px;
      h4 {
        font-size: 14px;
      }
    }

    .page {
      padding: 10px;
      .blog-post {
        padding: 5px;

        .blog-post-header {
          a {
            font-size: 36px;
            line-height: 36px;
          }
        }
      }
    }
  }
}
