@import "variables";
@import "blog";

// DEFAULTS
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.page {
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
  outline: none !important;

  h1, h2 {
    margin: 15px 0 10px;
  }
  p {
    font-size: 1.1em;
    line-height: 1.6em;
  }
}

.page-item {
  margin-bottom: 120px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.5em;
}

.admin-title {
  font-size: 3em;
  font-weight: 300;
  margin: 0 0 25px;
}

.gr-btn, .gr-btn:focus {
  background-color: transparent;;
  outline: none !important;
}

.gr-btn:hover {
  cursor: pointer;
  background-color: lighten($primaryColor, 10);
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: $primaryColor;
  outline: none !important;
}

a:hover {
  color: lighten($primaryColor, 10);
  cursor: pointer;
  text-decoration: none !important;
}

.pagination {
  li {
    a {
      color: $foregroundColor;
    }
  }
  li.active a {
    background-color: $primaryColor;
    border-color: $primaryColor;
  }
}

// CHART.JS
canvas {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}

// NAV
$defaultHeight: 48px;
$drawerWidth: 250px;
.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $defaultHeight;
  background: transparent;

  .header-left {
    width: $drawerWidth;
    background: $navColor;
    opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .menu-btn {
      height: $defaultHeight;
      width: $defaultHeight;

      i {
        width: $defaultHeight;
        line-height: $defaultHeight;
        padding-left: 10px;
        font-size: 26px;
        color: white;
      }
    }

    h1 {
      margin: 0 0 0 5px;
      padding: 0;
      line-height: $defaultHeight;
      color: white;
      font-weight: 400;
      font-size: 24px;
    }
  }

  .header-right {
    background: $navColor;
    opacity: 0.9;
  }
}

.header.drawer-closed {
  z-index: 2;

  .header-left {
    opacity: 0.9;
  }

  .header-right {
    background: $navColor;
  }
}

#drawer {
  min-height: 100%;
  position: fixed;
  top: $defaultHeight;
  bottom: 0;
  left: 0;
  width: $drawerWidth;
  box-shadow: 0 8px 8px 3px rgba(0, 0, 0, 0.14);
  background-color: $navColor;
  z-index: 1;

  .drawer-header {
    height: $drawerWidth;
    max-height: $drawerWidth;
    background: $navColor;

    img {
      margin: 25px 50px;
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }

    .social-links {
      span {
        text-align: center;
        i {
          font-size: 26px;
          color: $foregroundWhite;
        }
      }
    }
  }

  ul.drawer-items {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;

    li {
      color: $foregroundWhite;
      height: $defaultHeight;
      line-height: $defaultHeight;
      padding: 0 0 0 25px;
      font-size: 18px;
      outline: none !important;
      border-left: 5px solid transparent;
      transition-property: border-left-color;
      transition-duration: .5s;
    }

    li:hover, li.active {
      background: lighten($navColor, 15);
      border-left-color: $primaryColor;
    }

    li.active {
      background: lighten($navColor, 15);
      border-left-color: $primaryColor !important;
    }

    li.indent {
      padding-left: 45px;
    }

    li {
      .arrow-right {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: solid 2px $foregroundWhite;
        border-top: none;
        border-left: none;
        -webkit-transition: transform 0.2s;
        -moz-transition: transform 0.2s;
        -o-transition: transform 0.2s;
        transition: transform 0.2s;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: relative;
        right: -100px;
      }
    }

    li.open.no-select {
      border-left-color: transparent;
    }

    li.open {
      color: $foregroundWhite;
      background: darken($navColor, 10);
      border-left-color: $primaryColor;
      .arrow-right {
        transform: rotate(45deg);
      }
    }

    li.sub-item {
      border-left-color: transparent;
      height:0px;
      opacity: 0;
      -webkit-transition:height 0.4s linear, opacity 0.3s linear;
      -moz-transition: height 0.4s linear, opacity 0.3s linear;
      -ms-transition: height 0.4s linear, opacity 0.3s linear;
      -o-transition: height 0.4s linear, opacity 0.3s linear;
      transition: height 0.4s linear, opacity 0.3s linear;
    }
    li.sub-item.open {
      height: $defaultHeight;
      opacity: 1;
    }
  }
}

#drawer.drawer-closed {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.main, .drawer, .header {
  transition: all 0.3s;
}

.main {
  min-height: 100%;
  max-width: 100vw;
  background-color: white;
  position: relative;
  top: $defaultHeight;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 1em 4em 4em 4em;
  overflow: hidden;
  .content {
    max-width: $pageMaxWidth;
    width: 100%;
    margin: 0 auto;
  }
}

.main.drawer-open {
  //left: 250px;
  max-width: calc(100vw - 250px);
  z-index: 0;

  -webkit-transform: translateX($drawerWidth) scale(1);
  -moz-transform: translateX($drawerWidth) scale(1);
  -ms-transform: translateX($drawerWidth) scale(1);
  -o-transform: translateX($drawerWidth) scale(1);
  transform: translateX($drawerWidth) scale(1);
}

@media (max-width: 900px) {
  .main {
    padding: 1em;
  }
  .main.drawer-open {
    -webkit-transform: translateX($drawerWidth) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
    max-width: 100vw;
  }
}
