@import "variables";

.nav-bar {
  .date-navigation {
    font-size: 15px;
    outline: none !important;
    i {
      font-size: 21px;
    }
  }

  .date {
    font-size: 21px;
  }
}

.health {
  $headerHeight: 64px;
  color: $foregroundColor;
  .loader {
    height: 15px;
  }

  .stat-cards {
    margin-bottom: 100px;

    .stat-card {
      margin-top: 15px;
      padding: 20px;
      .title {
        font-size: 28px;
        padding: 0 0 25px 0;
        i {
          color: lighten($foregroundColor, 30);
        }
      }
      .actual-value {
        color: $primaryColor;
        padding: 0 0 10px 0;
        .value {
          font-size: 26px;
        }
        .descriptor {
          font-size: 14px;
        }
      }

      .goal-progress {
        .progress-info {
          font-size: 12px;
          color: lighten($foregroundColor, 10);
        }
        .goal {
          font-size: 12px;
          position: relative;
          top: 10px;
        }
      }

      .highlights {
        .highlight {
          .descriptor {
            font-size: 12px;
            font-weight: 700;
          }
          .value {
            font-size: 26px;
            color: $primaryColor;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .health {
    .header-row {
      .date-navigation {
        i {
          font-size: 24px;
          margin: 0 -5px;
        }
      }

      .date {
        font-size: 16px;
      }
    }

    .stat-card {
      padding: 10px;
    }
    .stat-card.half {
      .title {
        font-size: 18px;
        padding: 0 0 5px 0;
      }
      .actual-value {
        padding: 0 0 10px 0;
        .value {
          font-size: 16px;
        }
        .descriptor {
          font-size: 11px;
        }
      }
    }
  }
}
