@import "variables";

.library-admin {

  .actions {
    button {
      max-height: 30px;
    }
  }

  .artwork-upload {
    img {
      width: 120px;
      height: 150px;
    }
  }

  .file-upload {
    margin: 25px 0;
    a {
      margin: 10px 25px 0 0;
    }
  }

  .date {
    margin: 25px 0 50px;

    datepicker {
      display: block;
      position: inherit;

      input {
        width: 300px;
        border-top: none;
        border-right: none;
        border-bottom: solid 1px $defaultForegroundColor;
        border-left: none;
      }
      input:hover {
        cursor: pointer;
      }

      ._720kb-datepicker-calendar {
        max-width: 300px;
      }
    }
  }

  .authors {
    background: lighten($defaultForegroundColor, 78);
    border-radius: 5px;
    max-height: 400px;
    overflow: scroll;
    .new-author, .current-author {
      button {
        margin-top: 15px;
        max-height: 25px;
      }
    }

    .new-author {
      border-bottom: solid 1px lighten($defaultForegroundColor, 60);
      md-input-container {
        padding-bottom: 0px;
      }
    }
  }
}

.library {
  margin: 0 15px;
  .title-section {
    max-width: 800px;
    margin: 0 auto;

    h1 {
      text-align: center;
      font-weight: 700;
      font-size: 30px;
      text-transform: capitalize;
      line-height: 50px;
      color: $themeColor;
    }

    .search {
      margin: 0 auto;
    }
  }

  md-grid-list {
    margin-bottom: 150px;
    md-grid-tile {
      img {
        width: 100%;
        height: 100%;
      }

      md-grid-tile-footer {
        height: 55px;
        background-color: rgba(0, 0, 0, 0.5);
        padding-left: 5px;

        h1, h2, h3 {
          margin: 0;
        }
        h1 {
          font-size: 18px;
          font-weight: 600;
        }
        h2 {
          font-size: 15px;
        }
        h3 {
          font-size: 12px;
        }
      }
    }
    md-grid-tile:hover {
      cursor: pointer;
      md-grid-tile-footer {
        height: 85px;
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-transition: height .3s;
        -moz-transition: height .3s;
        -ms-transition: height .3s;
        -o-transition: height .3s;
        transition: height .3s;
      }
    }
  }
}

.book {
  .book-header {
    text-align: center;
    margin: 5px 0px 25px;

    a.book-title {
      font-weight: 700;
      font-size: 36px;
      text-transform: capitalize;
      line-height: 50px;
    }

    .artwork {
      img {
        max-height: 250px;
      }
    }

    .book-subtitle {
      margin-top: 15px;
      color: lighten($defaultForegroundColor, 20);
      font-size: 18px;
      font-style: italic;

    }
  }

  .book-body {
  }
}
