<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gentry Riggen</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body layout-gt-md="row" layout="column" ng-app="gr" ng-cloak>

<!-- MALARKEY -->
<div id="splashScreen" ng-class="{'hiding': appReady}">
  <div id="splashScreenText"></div>
</div>

<div ng-controller="HeaderCtrl as HeaderCtrl" layout="column" class="header" ng-class="{'showing': appReady}">
  <!-- Side Navigation -->
  <md-sidenav class=" md-sidenav-left md-whiteframe-z2"
              md-component-id="sideNav"
              md-is-locked-open="$mdMedia('gt-md')"
              flex>

    <header class="nav-header">
      <a ui-sref="blog">
        <img src="http://cdn.gentryriggen.com/binary/gentryBoardingSmall.jpg" class="img-circle img-responsive" />
        <h1>Gentry Riggen</h1>
      </a>
      <div class="social-links" layout="row" layout-align="center center">
        <span flex><a href="https://twitter.com/GentryRiggen" target="#"><i class="fa fa-twitter fa-2x"></i></a></span>
        <span flex><a href="https://github.com/GentryRiggen" target="#"><i class="fa fa-github fa-2x"></i></a></span>
        <span flex><a href="https://linkedin.com/in/GentryRiggen/en" target="#"><i class="fa fa-linkedin fa-2x"></i></a></span>
        <span flex><a href="http://stackoverflow.com/users/1767285" target="#"><i class="fa fa-stack-overflow fa-2x"></i></a></span>
      </div>
    </header>

    <md-content layout-padding>
      <md-list>
        <md-list-item ui-sref-active="active" ng-click="HeaderCtrl.navigate('blog')">
          <p><i class="fa fa-pencil-square-o"></i> Blog</p>
        </md-list-item>

        <md-list-item ui-sref-active="active" ng-click="HeaderCtrl.navigate('books')">
          <p><i class="fa fa-book"></i> Library</p>
        </md-list-item>

        <md-list-item ui-sref-active="active" ng-click="HeaderCtrl.navigate('about')">
          <p><i class="fa fa-user"></i> About me</p>
        </md-list-item>
        <md-divider ng-show="HeaderCtrl.showModerator"></md-divider>
        <md-list-item ui-sref-active="active" ng-click="HeaderCtrl.navigate('admin')"
                      ng-show="HeaderCtrl.showModerator">
          <p><i class="fa fa-pencil"></i> Admin</p>
        </md-list-item>
        <md-list-item ui-sref-active="active" ng-click="HeaderCtrl.navigate('logout')"
                      ng-show="HeaderCtrl.showModerator">
          <p><i class="fa fa-sign-out"></i> Logout</p>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

  <!-- Mobile Nav -->
  <md-toolbar hide-gt-md class="mobile-header">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Nav" ng-click="HeaderCtrl.toggleNav()">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;">
          <path d="M0 0h18v18h-18z" fill="none"></path>
          <path fill="#FFF" d="M2 13.5h14v-1.5h-14v1.5zm0-4h14v-1.5h-14v1.5zm0-5.5v1.5h14v-1.5h-14z"></path>
        </svg>
      </md-button>
      <h2>Gentry Riggen</h2>
      <span flex></span>
    </div>
  </md-toolbar>
</div>


<!-- Main Content -->
<div flex layout="column" role="main" class="main" ng-class="show" ng-class="{'showing': appReady}">
  <md-content class="ui-view-container">

    <!-- LOADING -->
    <div layout="row" layout-padding ng-show="alert.loading.show" class="fullscreen-loader">
      <span flex></span>
      <div layout="column" flex="50" layout-align="center center">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
        <h4>{{alert.loading.message}}</h4>
      </div>
      <span flex></span>
    </div>

    <!-- Page Content -->
    <ui-view ng-hide="alert.loading.show"></ui-view>

  </md-content>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!--endbuild -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- endinject -->

<!-- inject:partials -->
<!-- endinject -->
<!--endbuild -->

<!-- GOOGLE ANALYTICS -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-64096104-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
