<!DOCTYPE html>
<html ng-app="gr">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gentry Riggen</title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700' rel='stylesheet'
        type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body ng-controller="ShellCtrl as ShellCtrl">

<!-- TOPNAV -->
<div class="header md-whiteframe-z2" layout="row" ng-class="{'drawer-closed': !ShellCtrl.drawerOpen}">
  <div class="gr-btn header-left" layout="row" ng-click="ShellCtrl.toggleMenu()">
    <div class="gr-btn menu-btn">
      <i class="mdi mdi-menu"
         ng-class="{'mdi-menu': !ShellCtrl.smallScreen || !ShellCtrl.drawerOpen,
         'mdi-close': ShellCtrl.smallScreen && ShellCtrl.drawerOpen}"></i>
    </div>

    <h1>Gentry Riggen</h1>
  </div>

  <div class="header-right" flex>

  </div>
</div>

<!-- DRAWER -->
<div id="drawer" ng-class="{'drawer-closed': !ShellCtrl.drawerOpen}">
  <div class="drawer-header">
    <img src="http://cdn.gentryriggen.com/binary/gentryBoardingSmall.jpg"/>

    <div class="social-links" layout="row" layout-align="center center">
      <span flex><a href="https://twitter.com/GentryRiggen" target="#"><i class="mdi mdi-twitter"></i></a></span>
      <span flex><a href="https://github.com/GentryRiggen" target="#"><i class="mdi mdi-github-circle"></i></a></span>
      <span flex><a href="https://linkedin.com/in/GentryRiggen/en" target="#"><i
        class="mdi mdi-linkedin"></i></a></span>
      <span flex><a href="http://stackoverflow.com/users/1767285" target="#"><i
        class="mdi mdi-stackoverflow"></i></a></span>
    </div>

  </div>
  <ul class="drawer-items">
    <!-- ALL USERS -->
    <li class="gr-btn" ui-sref="blog" ui-sref-active="active">
      <i class="mdi mdi-pencil"></i> Blog
    </li>

    <!-- Health Section -->
    <li class="gr-btn no-select" ng-class="{'open': ShellCtrl.healthOpen}"
        ng-click="ShellCtrl.toggleDrawerDropdown('health')">
      <i class="mdi mdi-dumbbell"></i> Health
      <div class="arrow-right"></div>
    </li>
    <li ng-class="{'open': ShellCtrl.healthOpen}" class="gr-btn sub-item indent"
        ui-sref="healthDaily" ui-sref-active="active">
      <i class="mdi mdi-fire"></i> Daily
    </li>
    <!--<li ng-class="{'open': ShellCtrl.healthOpen}" class="gr-btn sub-item indent"-->
        <!--ui-sref="healthInsights" ui-sref-active="active">-->
      <!--<i class="mdi mdi-chart-areaspline"></i> Insights-->
    <!--</li>-->

    <li class="gr-btn" ui-sref="books" ui-sref-active="active">
      <i class="mdi mdi-library-books"></i> Library
    </li>
    <li class="gr-btn" ui-sref="about" ui-sref-active="active">
      <i class="mdi mdi-account"></i> About Me
    </li>

    <!-- ADMIN USERS -->
    <li ng-if="ShellCtrl.showModerator" class="gr-btn no-select" ng-class="{'open': ShellCtrl.adminOpen}"
        ng-click="ShellCtrl.toggleDrawerDropdown('admin')">
      <i class="mdi mdi-lock"></i> Admin
      <div class="arrow-right"></div>
    </li>
    <li ng-if="ShellCtrl.showModerator" ng-class="{'open': ShellCtrl.adminOpen}" class="gr-btn sub-item indent"
        ui-sref="admin.blog" ui-sref-active="active">
      <i class="mdi mdi-pencil-lock"></i> Blog
    </li>
    <li ng-if="ShellCtrl.showModerator" ng-class="{'open': ShellCtrl.adminOpen}" class="gr-btn sub-item indent"
        ui-sref="admin.books" ui-sref-active="active">
      <i class="mdi mdi-library-books"></i> Library
    </li>
    <li ng-if="ShellCtrl.showModerator" ng-class="{'open': ShellCtrl.adminOpen}" class="gr-btn sub-item indent"
        ui-sref="admin.files" ui-sref-active="active">
      <i class="mdi mdi-file"></i> Files
    </li>
    <li ng-if="ShellCtrl.showModerator" ng-class="{'open': ShellCtrl.adminOpen}" class="gr-btn sub-item indent"
        ui-sref="admin.accounts" ui-sref-active="active">
      <i class="mdi mdi-account-multiple"></i> Accounts
    </li>

    <li ng-if="ShellCtrl.showModerator" class="gr-btn" ui-sref="logout">
      <i class="mdi mdi-logout"></i> Logout
    </li>
  </ul>
</div>


<!-- CONTENT -->
<div layout="column" class="main" ng-class="{'drawer-open': ShellCtrl.drawerOpen}">
  <ui-view class="content"></ui-view>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!--endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- endinject -->

<!-- inject:partials -->
<!-- endinject -->
<!--endbuild -->

<!-- GOOGLE ANALYTICS -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-64096104-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
