{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": "off"
  },
  "globals": {
    "window": true,
    "document": true
  }
}
