<md-content>
    <div layout="row" layout-align="end start">
        <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="blogPostEditForm.$invalid">Save</md-button>
        <md-button class="md-raised md-warn" ng-click="delete()" ng-disabled="blogPostEditForm.$invalid || !model.id">Delete</md-button>
    </div>

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="WYSIWYG">
            <md-content class="md-padding" layout="column">
                <form name="blogPostEditForm" ng-submit="save()">
                    <md-input-container>
                        <label>Title</label>
                        <input ng-model="model.title">
                    </md-input-container>

                    <md-input-container>
                        <label>Subtitle</label>
                        <input ng-model="model.subtitle">
                    </md-input-container>

                    <md-input-container>
                        <label>Permalink</label>
                        <input ng-model="model.permalink">
                    </md-input-container>

                    <md-input-container>
                        <label>Link To Another Article</label>
                        <input ng-model="model.linkTo">
                    </md-input-container>

                    <md-checkbox ng-model="model.visible"
                                 aria-label="Post Visible"
                                 ng-true-value="1" ng-false-value="0">
                        Visible
                    </md-checkbox>

                    <text-angular ng-model="model.content"></text-angular>
                </form>
            </md-content>
        </md-tab>

        <md-tab label="Preview">
            <blog-post post="model"></blog-post>
        </md-tab>
    </md-tabs>
</md-content>
