<div>
  <h1 class="admin-title">Files</h1>

  <form name="searchForm" ng-submit="FilesCtrl.search(q)">
    <md-input-container>
      <label>Search</label>
      <input aria-label="files search" ng-model="q" ng-model-options="{ debounce: 350 }"
             ng-change="FilesCtrl.search(q)">
    </md-input-container>
  </form>

  <md-input-container>
    <input type="file" nv-file-select="" uploader="FilesCtrl.uploader" aria-label="file uploader"/>
  </md-input-container>

  <md-progress-linear md-mode="indeterminate" ng-show="FilesCtrl.loading"></md-progress-linear>

  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Path</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="file in FilesCtrl.files">
      <td><img ng-if="file.isImage" src="{{file.uri}}" width="60" height="60"/></td>
      <th>{{file.uri}}</th>
      <td><a target="#" href="{{file.uri}}">Download</a></td>
      <td><a ng-click="FilesCtrl.delete(file.fileName)">Delete</a></td>
    </tr>
    </tbody>
  </table>

  <ul class="pagination">
    <li ng-repeat="page in FilesCtrl.pages"
        ng-class="{'active': page == FilesCtrl.page}">
      <a ng-click="FilesCtrl.getNextPage(page, page == FilesCtrl.page)">{{page}}</a>
    </li>
  </ul>
</div>
