<md-content class="library library-admin">

  <md-progress-linear md-mode="indeterminate" ng-show="AdminBooksCtrl.searching">
  </md-progress-linear>

  <div layout="row" class="actions" layout-align="start center">
    <md-input-container class="search" flex>
      <label>Search</label>
      <input type="text" ng-model="searchQ"
             ng-model-options="{ debounce: 350 }" ng-change="AdminBooksCtrl.search(searchQ)"/>
      <i class="fa fa-search"></i>
    </md-input-container>

    <a ng-click="AdminBooksCtrl.toggleView()" flex="20" class="view-toggle">
      <i class="fa fa-th"></i> Toggle View
    </a>

    <span flex></span>

    <md-button class="md-raised" ng-click="AdminBooksCtrl.createNew()" flex="20">Create New</md-button>
  </div>

  <md-grid-list ng-show="AdminBooksCtrl.gridView"
                md-cols-sm="1" md-cols-md="6" md-cols-gt-md="8"
                md-row-height-gt-md="1:1" md-row-height="4:3"
                md-gutter="8px" md-gutter-gt-sm="4px"
                ng-click="AdminBooksCtrl.rowClicked(book.id)">
    <md-grid-tile ng-repeat="book in AdminBooksCtrl.books"
                  md-rowspan="2"
                  md-colspan="2"
                  md-colspan-sm="2">
      <img src="{{book.artworkUrl}}"/>
      <md-grid-tile-footer>
        <h1>{{book.title}}</h1>

        <h2>{{book.authorLastName}}, {{book.authorFirstName}}</h2>

        <h3>({{book.rating}}/5 Stars)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>

  <table class="table table-striped" ng-hide="AdminBooksCtrl.gridView">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Gentry Read?</th>
      <th>Fiction</th>
      <th>Rating</th>
      <th>Published</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="book in AdminBooksCtrl.books" ng-click="AdminBooksCtrl.rowClicked(book.id)">
      <td><img src="{{book.artworkUrl}}" width="45" height="60"/> {{book.title}}</td>
      <th>{{book.authorLastName}}, {{book.authorFirstName}}</th>
      <td><input type="checkbox" ng-model="book.haveRead" ng-true-value="1" ng-false-value="0" disabled/></td>
      <td><input type="checkbox" ng-model="book.fiction" ng-true-value="1" ng-false-value="0" disabled/></td>
      <td>{{book.rating}} / 5</td>
      <td>{{book.publishDate | date}}</td>
    </tr>
    </tbody>
  </table>
</md-content>
