<div class="nav-bar" layout="row" layout-align="center center">
  <div class="date-navigation no-select" ng-click="DailyHealthCtrl.dateChange(-1)"
       flex="30" flex-gt-sm="20" layout="row" layout-align="start center"
       ng-show="!DailyHealthCtrl.loading && DailyHealthCtrl.prevDate">
    <i ng-show="DailyHealthCtrl.prevDate" class="mdi mdi-chevron-left"></i>
    <span ng-show="DailyHealthCtrl.prevDate">{{DailyHealthCtrl.prevDate | date:'MMM d'}}</span>
  </div>

  <div flex="40" flex-gt-sm="60" layout="column" layout-align="center center">
    <span class="date">{{DailyHealthCtrl.date | date:'EEE, MMM d'}}</span>
  </div>

  <div class="date-navigation no-select" ng-click="DailyHealthCtrl.dateChange(1)"
       flex="30" flex-gt-sm="20" layout="row" layout-align="end center"
       ng-show="!DailyHealthCtrl.loading">
    <span ng-show="DailyHealthCtrl.nextDate">{{DailyHealthCtrl.nextDate | date:'MMM d'}}</span>
    <i ng-show="DailyHealthCtrl.nextDate" class="mdi mdi-chevron-right"></i>
  </div>
</div>

<div class="page health">

  <div ng-show="!DailyHealthCtrl.selectedDay" class="selected-day" layout="row" layout-align="center center">
    <h3>No Data</h3>
  </div>

  <div class="stat-cards" layout="row" layout-wrap>
    <!-- HOUR BREAKDOWN -->
    <div class="stat-card md-whiteframe-z2" flex="100">
      <div class="title">Hourly Breakdown <i class="mdi mdi-fire"></i></div>
      <div id="dailySummaryHourChart"></div>
    </div>

    <!-- STEPS AND CALORIE GOALS-->
    <div class="stat-card md-whiteframe-z2" layout="row" flex="100">
      <div flex-sm="100" flex="50">
        <div class="title">Steps <i class="mdi mdi-run"></i></div>
        <div id="dailyStepGoalChart"></div>
      </div>

      <div flex-sm="100" flex="50">
        <div class="title">Calories <i class="mdi mdi-fire"></i></div>
        <div id="dailyCalorieGoalChart"></div>
      </div>
    </div>

    <div class="activities" ng-repeat="item in DailyHealthCtrl.selectedDay.items" flex="100">
      <!-- SLEEP -->
      <health-activity ng-if="item.isSleep" activity="item" type="'sleep'"></health-activity>

      <!-- WORKOUT -->
      <health-activity ng-if="item.isWorkout" activity="item" type="'workout'"></health-activity>

      <!-- RUN -->
      <health-activity ng-if="item.isRun" activity="item" type="'run'"></health-activity>
    </div>
  </div>
</div>
