<div class="page health">
  <div class="header-row">
    <div layout="row" layout-align="end center">
      <small class="last-sync">Last Sync Time: <b>{{HealthCtrl.getLastSync(HealthCtrl.selectedDay.lastSync)}} UTC</b>
      </small>
    </div>

    <div layout="row" layout-align="end center">
      <span class="date">{{HealthCtrl.date}}</span>
      <i class="mdi mdi-chevron-left" ng-click="HealthCtrl.dateChange(-1)"></i>
      <i class="mdi mdi-calendar calendar" ng-click=""></i>
      <i class="mdi mdi-chevron-right" ng-click="HealthCtrl.dateChange(1)"></i>
    </div>
  </div>

  <div ng-if="HealthCtrl.loading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div ng-if="!HealthCtrl.loading" class="selected-day" layout="row" layout-wrap>
    <!-- STEPS -->
    <div class="stat-card half left md-whiteframe-z2" flex-sm="100" flex-gt-sm="50">
      <div class="title">Steps <i class="mdi mdi-run"></i></div>
      <div class="actual-value">
          <span class="value">
            {{HealthCtrl.selectedDay.stepsTaken ? HealthCtrl.selectedDay.stepsTaken : 0}}
          </span>
        <span class="descriptor">steps</span>
      </div>

      <div class="goal-progress" layout="row">
        <div flex="80">
            <span class="progress-info">
              {{HealthCtrl.stepsTakenPercentage}}% goal complete
            </span>
          <md-progress-linear md-mode="determinate"
                              value="{{HealthCtrl.stepsTakenPercentage}}">
          </md-progress-linear>
        </div>
        <span class="goal" flex="15" flex-offset="5">9000</span>
      </div>
    </div>

    <!-- CALORIES -->
    <div class="stat-card half right md-whiteframe-z2" flex-sm="100" flex-gt-sm="50">
      <div class="title">Calories <i class="mdi mdi-fire"></i></div>
      <div class="actual-value">
          <span class="value">
            {{HealthCtrl.selectedDay.caloriesBurned ? HealthCtrl.selectedDay.caloriesBurned : 0}}
          </span>
        <span class="descriptor">calories</span>
      </div>

      <div class="goal-progress" layout="row">
        <div flex="80">
            <span class="progress-info">
              {{HealthCtrl.caloriesBurnedPercentage}}% goal complete
            </span>
          <md-progress-linear md-mode="determinate"
                              value="{{HealthCtrl.caloriesBurnedPercentage}}">
          </md-progress-linear>
        </div>
        <span class="goal" flex="15" flex-offset="5">3000</span>
      </div>
    </div>

    <div class="activities" ng-repeat="item in HealthCtrl.selectedDay.items" flex="100">
      <!-- SLEEP -->
      <div ng-if="item.isSleep" class="stat-card md-whiteframe-z2" flex="100">
        <div class="title">Sleep <i class="mdi mdi-sleep"></i></div>

        <div class="highlights" layout="row" layout-align="start start" layout-wrap flex>
          <div class="highlight" flex="25">
            <div class="descriptor">Total Sleep</div>
            <div class="value">{{item.sleepDuration ? HealthCtrl.convertDuration(item.sleepDuration, 2) : 0}}</div>
          </div>

          <div class="highlight" flex="25">
            <div class="descriptor">Total Duration</div>
            <div class="value">{{item.totalDuration ? HealthCtrl.convertDuration(item.totalDuration, 2) : 0}}</div>
          </div>

          <div class="highlight" flex="25">
            <div class="descriptor">Awake Duration</div>
            <div class="value">{{item.awakeDuration ? HealthCtrl.convertDuration(item.awakeDuration, 2) : 0}}</div>
          </div>

          <div class="highlight" flex="25">
            <div class="descriptor">Woke Up</div>
            <div class="value">{{item.numberOfWakeups ? item.numberOfWakeups : 0}} x</div>
          </div>
        </div>
      </div>

      <!-- WORKOUT -->
      <div ng-if="item.isWorkout" class="stat-card md-whiteframe-z2" layout-wrap flex="100">
        <div class="title">Workout <i class="mdi mdi-dumbbell"></i></div>

        <div class="highlights" layout="row" layout-align="start start" flex>
          <div class="highlight" flex="25">
            <div class="descriptor">Duration</div>
            <div class="value">{{item.duration ? HealthCtrl.convertDuration(item.duration) : 0}}</div>
          </div>

          <div class="highlight" flex="25">
            <div class="descriptor">Calories Burned</div>
            <div class="value">{{item.caloriesBurned ? item.caloriesBurned : 0}}</div>
          </div>

          <div class="highlight" flex="25">
            <div class="descriptor">Average Heart Rate</div>
            <div class="value">{{item.averageHeartRate ? item.averageHeartRate : 0}}</div>
          </div>

          <div class="highlight" flex="25">
            <div class="descriptor">Peak Heart Rate</div>
            <div class="value">{{item.peakHeartRate ? item.peakHeartRate : 0}}</div>
          </div>
        </div>
      </div>

      <!-- RUN -->
      <div ng-if="item.isRun" class="stat-card md-whiteframe-z2" flex="100">
        <div class="title">Run <i class="mdi mdi-run"></i></div>

        <div class="highlights" layout="row" layout-align="start start" layout-wrap flex>
          <div class="highlight" flex="25">
            <div class="descriptor">Distance</div>
            <div class="value">{{item.totalDistance ? HealthCtrl.convertDistanceToMiles(item.totalDistance) : 0}} Mi
            </div>
          </div>

          <div class="highlight" flex="25">
            <div class="descriptor">Duration</div>
            <div class="value">{{item.duration ? HealthCtrl.convertDuration(item.duration) : 0}}</div>
          </div>

          <div class="highlight" flex="25">
            <div class="descriptor">Calories Burned</div>
            <div class="value">{{item.caloriesBurned ? item.caloriesBurned : 0}}</div>
          </div>

          <div class="highlight" flex="25">
            <div class="descriptor">Average Heart Rate</div>
            <div class="value">{{item.averageHeartRate ? item.averageHeartRate : 0}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
