<!-- WORKOUT -->
<div ng-if="type == 'workout'" class="stat-card md-whiteframe-z2" layout-wrap flex="100">
  <div class="title">Workout <i class="mdi mdi-dumbbell"></i></div>

  <p>Minute Breakdown</p>
  <div id="workoutChart-{{activity.id}}"></div>

  <div class="highlights" layout="row" layout-align="start start" layout-wrap flex>
    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Duration</div>
      <div class="value">{{activity.duration ? convertDuration(activity.duration) : 0}}</div>
    </div>

    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Calories Burned</div>
      <div class="value">{{activity.caloriesBurned ? activity.caloriesBurned : 0}}</div>
    </div>

    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Average Heart Rate</div>
      <div class="value">{{activity.averageHeartRate ? activity.averageHeartRate : 0}}</div>
    </div>

    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Peak Heart Rate</div>
      <div class="value">{{activity.peakHeartRate ? activity.peakHeartRate : 0}}</div>
    </div>
  </div>
</div>

<!-- RUN -->
<div ng-if="type == 'run'" class="stat-card md-whiteframe-z2" layout-wrap flex="100">
  <div class="title">Run <i class="mdi mdi-run"></i></div>

  <p>Minute Breakdown</p>
  <div id="runChart-{{activity.id}}"></div>

  <div class="highlights" layout="row" layout-align="start start" layout-wrap flex>
    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Distance</div>
      <div class="value">{{activity.totalDistance ? convertDistanceToMiles(activity.totalDistance) : 0}} Mi
      </div>
    </div>

    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Duration</div>
      <div class="value">{{activity.duration ? convertDuration(activity.duration) : 0}}</div>
    </div>

    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Calories Burned</div>
      <div class="value">{{activity.caloriesBurned ? activity.caloriesBurned : 0}}</div>
    </div>

    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Average Heart Rate</div>
      <div class="value">{{activity.averageHeartRate ? activity.averageHeartRate : 0}}</div>
    </div>
  </div>
</div>

<!-- SLEEP -->
<div ng-if="type == 'sleep'" class="stat-card md-whiteframe-z2" layout-wrap flex="100">
  <div class="title">Sleep <i class="mdi mdi-sleep"></i></div>

  <p>Avg Heart Rate Every 15 Minutes</p>
  <div id="sleepChart-{{activity.id}}"></div>

  <div class="highlights" layout="row" layout-align-gt-sm="start start" layout-align-sm="center start"
       layout-wrap layout-padding flex>
    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Actual Sleep Duration</div>
      <div class="value">{{activity.sleepDuration ? convertDuration(activity.sleepDuration, 2) : 0}}</div>
    </div>

    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Total Duration</div>
      <div class="value">{{activity.totalDuration ? convertDuration(activity.totalDuration, 2) : 0}}</div>
    </div>

    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Awake Duration</div>
      <div class="value">{{activity.awakeDuration ? convertDuration(activity.awakeDuration, 2) : 0}}</div>
    </div>

    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Woke Up</div>
      <div class="value">{{activity.numberOfWakeups ? activity.numberOfWakeups : 0}} x</div>
    </div>

    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Total Restful Sleep</div>
      <div class="value">{{activity.restfullSleepDuration ? convertDuration(activity.restfullSleepDuration, 2) : 0}}</div>
    </div>

    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Total Restless Sleep</div>
      <div class="value">{{activity.restlessSleepDuration ? convertDuration(activity.restlessSleepDuration, 2) : 0}}</div>
    </div>

    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Sleep Efficiency</div>
      <div class="value">{{activity.sleepEfficiency}}%</div>
    </div>

    <div class="highlight" flex="50" flex-gt-sm="25">
      <div class="descriptor">Time To Fall Asleep</div>
      <div class="value">{{activity.timeToFallAsleep ? convertDuration(activity.timeToFallAsleep, 2) : 0}}</div>
    </div>
  </div>
</div>
