<div class="book page-item">
  <div class="book-header" layout="row">
    <img class="img-responsive" ng-src="{{book.artworkUrl}}" />

    <div class="titles" flex>
      <div ng-click="goToBook()" class="book-title"><b>Book Review:</b> {{book.title}}</div>
      <div class="book-subtitle">Written By <b>{{book.authorFirstName}} {{book.authorLastName}}</b></div>
      <div class="book-rating">
        I gave the book <b>{{book.rating}}</b> out of 5 Stars
      </div>

    </div>
  </div>

  <!-- REVIEW -->
  <div class="book-body">
    <div class="book-content" ng-model="book.review" ta-bind="text" ta-readonly="disabled"></div>

    <a ng-click="readMore()">See more books from my library...</a>
  </div>

  <!-- SOCIAL LINKS -->
  <div class="book-footer" ng-if="showComments">
    <dir-disqus disqus-shortname="gentryriggen"
                disqus-identifier="book-{{book.id}}"
                disqus-url="{{ book.url }}">
    </dir-disqus>
  </div>
</div>
