$themeColor: #00aeee;
$defaultForegroundColor: #464646;

// DEFAULTS
body {
    font-family: 'Open Sans','Lucida Grande','Lucida Sans',Arial,sans-serif;
    color: $defaultForegroundColor;

    a {
        color: $themeColor;
    }

    a:hover {
        color: lighten($themeColor, 10);
        text-decoration: none;
        cursor: pointer;
    }
}

$navForegroundColor: #fefefe;

md-sidenav {

    header.nav-header {
        background: $themeColor;
        padding: 15px 10px;

        a {
            text-decoration: none;

            img {
                border-radius: 50%;
                height: 150px;
                width: 150px;
                margin: 25px auto 20px;
            }

            h1 {
                text-align: center;
                font-weight: 300;
                font-size: 30px;
                color: $navForegroundColor;
            }
        }

        .social-links {
            margin: 20px 10px 5px 10px;
            span {
                text-align: center;
                a {
                    color: $navForegroundColor;
                }
            }
        }
    }

    md-list {
        md-list-item {
            p {
                color: $defaultForegroundColor;
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
}

md-toolbar.mobile-header {
    .md-toolbar-tools {
        h2 {
            color: $navForegroundColor !important;
            font-size: 30px;
            font-weight: 300;
        }
    }
}

md-card {
    margin-bottom: 50px;

    md-card-content {
        font-size: 1.3em;
        line-height: 1.7em;
        padding: 25px 35px;

        h1, h2, h3, h4, h5, h6 {
            font-weight: 300;
        }

        p {
            margin-bottom: 25px;
        }

        .blog-post-header {
            margin: 5px 0px 25px;

            a {
                font-weight: 300;
                font-size: 42px;
            }

            .blog-post-subtitle {
                color: lighten($defaultForegroundColor, 20);
                font-weight: 300;
                font-size: 18px;
                font-style: italic;

                span {
                    margin-top: 5px;
                    display: block;
                    font-weight: 600;
                    font-style: normal;
                    font-size: 12px;
                }
            }
        }

        .blog-post-body {
        }
    }
}

@media(max-width: 400px) {
    md-card {
        margin-left: 0px;
        margin-right: 0px;

        md-card-content {
            padding: 15px;
        }
    }
}
