<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Gentry Riggen</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/Content/css")
</head>
<body layout-gt-md="row" layout="column" ng-app="gr" ng-cloak>
    <!-- Side Navigation -->
    <md-sidenav class=" md-sidenav-left md-whiteframe-z2"
                md-component-id="sideNav"
                md-is-locked-open="$mdMedia('gt-md')">

        <header class="nav-header">
            <a ui-sref="blog">
                <img src="http://cdn.gentryriggen.com/binary/gentryBoardingSmall.jpg" class="img-circle img-responsive"/>
                <h1>Gentry Riggen</h1>
            </a>
        </header>

        <md-content ng-controller="HeaderCtrl as HeaderCtrl" layout-padding>
            <md-list>
                <md-list-item ui-sref-active="active" ng-click="HeaderCtrl.navigate('blog')">
                    <p>Blog</p>
                </md-list-item>
                <md-list-item ui-sref-active="active" ng-click="HeaderCtrl.navigate('about')">
                    <p>About me</p>
                </md-list-item>
                <md-divider ng-show="HeaderCtrl.currentUser"></md-divider>
                <md-list-item ui-sref-active="active" ng-click="HeaderCtrl.navigate('admin')" ng-show="HeaderCtrl.currentUser">
                    <p>Admin</p>
                </md-list-item>
                <md-list-item ui-sref-active="active" ng-click="HeaderCtrl.navigate('logout')" ng-show="HeaderCtrl.currentUser">
                    <p>Logout</p>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <!-- Mobile Nav -->
    <header hide-gt-md class="mobile-header">
        <div class="nav-header">
            <a ui-sref="blog">
                <img src="http://cdn.gentryriggen.com/binary/gentryBoardingSmall.jpg" class="img-circle img-responsive" />
                <h1>Gentry Riggen</h1>
            </a>
        </div>
        
        <ul>
            <li><a ui-sref="blog" ui-sref-active="active">Blog</a></li>
            <li><a ui-sref="about" ui-sref-active="active">About</a></li>
            <li ng-show="HeaderCtrl.isAuthenticated()">
                <a ui-sref="admin.blog" ui-sref-active="active">Admin</a>
            </li>
            <li ng-show="HeaderCtrl.isAuthenticated()">
                <a ui-sref="logout">Logout</a>
            </li>
        </ul>
    </header>

    <!-- Main Content -->
    <div flex layout="column" role="main">
        <md-content layout-padding class="ui-view-container">

            <!-- LOADING -->
            <div layout="row" layout-padding ng-show="alert.loading.show">
                <span flex></span>
                <div layout="column" flex="50" layout-align="center center">
                    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                    <div style="margin-top: 10px;">{{alert.loading.message}}</div>
                </div>
                <span flex></span>
            </div>

            <div layout="row">
                <span flex></span>
                <ui-view flex-sm="100" flex-md="100" flex-lg="100" flex-gt-lg="80"  ng-hide="alert.loading.show"></ui-view>
                <span flex></span>
            </div>
            
        </md-content>
    </div>


    <!-- REQUIRED FOR ASP.NET MVC (NOT USED HERE) -->
    @RenderBody()
</body>
</html>
