.blog-post h1 {
  font-size: 36px;
  line-height: 1.7em;
}
.blog-post h2 {
  font-size: 24px;
  line-height: 1.7em;
}
.blog-post p {
  font-size: 18px;
  line-height: 1.7em;
  margin: 8px 0;
}

.blog-post blockquote {
  border-left: 8px solid #ccc;
  margin: 24px 4px;
  padding: 8px 16px;
}
.blog-post blockquote p {
  margin: 0;
  font-size: 24px;
}

.blog-post pre {
  border-radius: 8px;
  margin: 16px auto;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
  max-width: 100%;
}
@media (max-width: 764px) { .blog-post pre { max-width: 501px; } }
@media (max-width: 500px) { .blog-post pre { max-width: 320px; } }
